h1{
    /* text-align: center; */
    color: blue;
}
sub{
    font-size: 11px;
    color: black;
}

#heading_table{
    text-align: center;
}


#content_table{
    text-align: center;
    border: 1px solid #585555;
    
}
#content_block{
    height: 40px;
    width: 60px;
    font-size: 20px;
    border: 1px solid #a8a0a0 ;
    font-weight: bold;
}

#Sunday{
    background-color: red;
    color: white;
    height: 40px;
    width: 65px;

}
#weekday{
    background-color: rgb(255, 140, 0);
    color: white;
    height: 40px;
    width: 60px;

}
#Saturday{
    background-color: rgb(0, 0, 255);
    color: white;
    height: 40px;
    width: 70px;
}