#specical-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2602b;
}

#specical-list li {
    float: left;
}

#specical-list li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#specical-list li a:hover {
    background-color: #ff8401;
}

